.Content{
    grid-area: c;
    background-color: burlywood;
    
  }
  .wrapper
  {
    margin: 0 auto;
    display: grid;
    grid-gap: 10 px;
    grid-template-columns: 4fr 6fr;
    grid-auto-rows: minmax(10px,auto);
    
    width: 900тз;

  
   
  }
.br
{
  
  border: 2px solid  greenyellow;
  border-radius: 8px;
}